<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ojiofong.androidsamples">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- ACCESS_COARSE_LOCATION is required for Bluetooth.Action_Found in API 23 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- WebRTC requirements start -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- WebRTC requirements end -->
    <application
        android:name=".AndroidSamplesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity -->
        <activity android:name=".ui.SensorActivity" />
        <activity android:name=".ui.RxJavaActivity" />
        <activity android:name=".ui.VideoActivity" />
        <activity android:name=".ui.ConstraintActivity" />
        <activity android:name=".ui.RecyclerPlayActivity" />
        <activity android:name=".ui.AnimationActivity" />
        <activity android:name=".dagger.ui.DaggerActivity" />
        <activity android:name=".ui.ButterKnifeActivity" />
        <activity android:name=".ui.BoundServiceActivity" />
        <activity android:name=".ui.BluetoothActivity" />
        <activity android:name=".ui.WebRTCActivity" />
        <activity android:name=".threadpool.ThreadPoolActivity" />
        <activity android:name=".threadpool.ThreadPoolActivityFuture" />
        <activity android:name=".ui.AsyncTaskLoaderActivity" />
        <activity android:name=".ui.InputDetectionActivity" />
        <activity android:name=".ui.RetainAsyncTaskActivity" />
        <activity android:name=".ui.ViewPagerActivity" />
        <activity android:name=".ui.MVPActivity" />
        <activity android:name=".ui.FragmentSampleActivity" />
        <activity android:name=".mvvm.ui.MVVMActivity" />
        <activity android:name=".room.ui.RoomActivity"></activity>
        <activity android:name=".bottomsheet.ui.BottomSheetActivity" />
        <activity android:name=".workmanager.ui.WorkManagerActivity" />

        <!-- Service -->
        <service android:name=".service.TestService" />

    </application>

</manifest>